<%= form_with(model: record, local: true) do |form| %>
  <% if record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :artist %>
    <%= form.text_field :artist, id: :record_artist %>
  </div>

  <div class="field">
    <%= form.label :album_name %>
    <%= form.text_field :album_name, id: :record_album_name %>
  </div>

  <div class="field">
    <%= form.label :year_released %>
    <%= form.number_field :year_released, id: :record_year_released %>
  </div>

  <div class="field">
    <%= form.label :sales %>
    <%= form.number_field :sales, id: :record_sales %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
